@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .win-part {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      inset: 0;
      padding: 1px;
      background: linear-gradient(to right, #00ae4b, #025928, #008339);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    box-shadow: #008339 0 -5px 10px -3px, #008339 0 5px 10px -3px,
      -10px 0 10px -3px #333;
  }
}

@layer base {
  html {
    @apply bg-[#050409];
  }
}
